<%- include('../partials/header') %>

    <div class="content">
        <form action="/auth/login" method="post" class="d-flex justify-content-center flex-column m-5">
            <input name="login" type="text" placeholder="Identifiant" class="form-control"/>
            <input name="password" type="password" placeholder="Mot de passe" class="form-control"/>
            <button type="submit" class="btn btn-primary"> Connexion </button>
        </form>
    </div>

    <script src="js/prism.js"></script>

