<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Erreur </title>
</head>
<body>
    <h1>Erreur.</h1>
    <a href="/">Retour à l'accueil.</a>
    <div><%= err %></div>
</body>
</html>
